$globalGradientDirection: 360deg;

$background: rgb(25,25,25);
$backgroundGradient: linear-gradient($globalGradientDirection, $background 0%, lighten($background, 10) 100%);

$paper: #f6f6f6;
$cyan: rgb(127, 198, 184);
$danger: #dd7e64;
$success: #f9013f;
$accent1: #e8a87c;
$accent2: #c38d9d;
$primary: #85cdca;


$splashBackground: #000;
$splashGradient: linear-gradient($globalGradientDirection, $splashBackground 0%, lighten($splashBackground, 10) 100%);
$splash-primary: $paper;
$splash-secondary: $success;
$splash-accent: $backgroundGradient;